<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SRMS"
        tools:targetApi="31">

        <!-- Basic activities -->
        <activity
            android:name=".activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <!-- Student related activities -->
        <activity
            android:name=".activity.StudentSignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StudentInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StudentResultActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StudentMarkSheetActivity"
            android:exported="false" />

        <!-- Faculty related activities -->
        <activity
            android:name=".activity.FacultySignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FacultyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FacultyResultActivity"
            android:exported="true" />

        <!-- Guardian related activities -->
        <activity
            android:name=".activity.GuardianSignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GuardianInfoActivity"
            android:exported="true" />

        <!-- Admin related activities -->
        <activity
            android:name=".activity.AdminDashboardActivity"
            android:exported="true" />

        <!-- Main activity -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>